# Accept percentage and display grade

In [ ]:
n = int(input("Enter the percentage"))
if n>90 and n<=100:
    print("A")
elif n>80 and n<=90:
    print("B")
elif n>60 and n<=80:
    print("C")
elif n>0 and n<=60:
    print("D")
else:
    print("Invalid percentage")

# Accept the costprice and dispay the Tax

In [ ]:
c = int(input("Enter the cost price of bike"))
if c>100000:
    print("Road tax is ",c*0.15)
elif c>50000 and c<=100000:
    print("Road tax is ",c*0.10)
else:
    print("Road tax is ",c*0.05)

# Accept city dispay monuments

In [ ]:
dict1 = {
'Delhi':'Red Fort',
'Agra':'Taj Mahal',
'Jaipur':'Jal Mahal'}
i = input("Enter the city")
n = i.capitalize()
if n in dict1.keys():
    print(dict1[n])
else:
    print("Invalid city")

# Accept the number and display how many times it is divided by 3 before it reach 10 or below

In [29]:
n = int(input("Enter the Number"))
ctr=0
while n>10:
    n=n/3
    ctr=ctr+1
print("{} times".format(ctr))

Enter the Number 300

4 times

# Reverse a while loop to display the number from 10 to 1

In [32]:
n=10
while n>0:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

# Why we use while loop with example

In python we use while loop to run a block code until a certain condition is met.
Example:
i=1
n=10
while i>=n:
    print(i)
    i=i+1

Output:
1
2
3
4
5
6
7
8
9
10

# Patterns Printing using nested looping

In [36]:
for i in range(5):
    for j in range(i+1):
        print("* ", end="")
    print("\t")

*
* *
* * *
* * * *
* * * * *

In [43]:
for i in range(5,0,-1):
    for j in range(i):
        print("* ", end="")
    print("\t")

* * * * *
* * * *
* * *
* *
*

In [47]:
n=5
k=0
for i in range(n,0,-1):
    print(" "*k+"*"*i+"*"*(i-1))
    k+=1

*********
 *******
  *****
   ***
    *

In [48]:
n=5
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i+"*"*(i-1))
k=1
for i in range(n,0,-1):
    print(" "*k+"*"*(i-2)+"*"*(i-1))
    k+=1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *